main{
    display: flex;
    justify-content: space-around; 
     
}

#studentlist{
    width: 30vw;
    height: 30vh;
}
#registerlist{
    width: 60vw;
    height: 50vh;
}

h2{
    text-align: center;
}